replicaCount: 1

image:
  repository: ml-service # local/dev; set ECR uri in real deploys
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: alb
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/healthcheck-path: /health
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
  hosts:
    - host: "" # keep empty for path-only
      paths:
        - path: /
          pathType: Prefix
  tls: [] # e.g., - hosts: ["example.com"] secretName: tls-secret

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

podSecurityContext:
  runAsNonRoot: true
  fsGroup: 2000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsUser: 1000

livenessProbe:
  path: /health
  port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10

readinessProbe:
  path: /health
  port: 8080
  initialDelaySeconds: 3
  periodSeconds: 5
