name: ci-sanity
on: [push]
jobs:
    fmt-validate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Terraform fmt
              run: terraform fmt -check -recursive
            - name: Helm lint
              run: helm lint ./helm/ml-service || true
            - name: Docker build (smoke)
              run: docker build -t ml-service:ci .
